<!-- INTRODUKTION -->
<header>
	<h1>Hur du levlar upp ditt konto på Steam!</h1>
</header>

<h3>Processen består utav:</h3>
<ol>
	<li>Köpa nycklar</li>
	<li>Hitta den bästa tradebotten</li>
	<li>Omvandla korten till XP</li>
</ol>

<h3>Krav för levla:</h3>
<ol>
	<li>Ett bankkonto (Betalningsmetoden är Trustly)</li>
	<li>Upplåst Steam Konto (Satt in minst 5$ på kontot. <a href="">Klicka här</a> för se om ditt konto är begränsat)</li>
	<li>Steam Guard i minst 15 dagar</li>
	<li>Inga tradebans</li>
</ol>

<!-- Nycklar -->

<!-- Bottar -->

<!-- Levla ditt konto -->